<div class="w3-modal-content w3-margin-top" style="max-width:600px">
  <div class="w3-white w3-margin">
    <div class="w3-container w3-white w3-margin-top">
      <div class="w3-center">
        <h3>Create a Profile</h3>
      </div>
      <%if flash[:errors] %>
       <% flash[:errors].each do |alert| %>
         <p class="w3-red w3-margin-bottom w3-center"><%= alert %></p>
       <% end %>
      <% end %>
      <div>
        <%= form_for(@profile, url: user_profiles_path, html: {method: "post"}) do |f| %>
        <br>
        <%= f.label("Upload Photo:") %>
        <br>
        <%= f.file_field(:image, class: "w3-block w3-margin") %>
        <br>
        <%= f.label("Header:") %>
        <br>
        <%= f.text_field(:header, class: "w3-input w3-border", placeholder: "Enter a Header") %>
        <br>
        <%= f.label("About Me:") %>
        <br>
        <%= f.text_area(:bio, class: "w3-input w3-border", placeholder: "Write about Yourself", rows: "20" ) %>
        <br>
        <%= f.submit("Create Profile", class: "w3-button w3-block w3-blue") %>
        <%end %>
        </div>
      </div>
    </div>
  <hr>
