
<!-- <p><%= button_to('Delete Creation!', user_creation_path(@creation.user, @creation), {method: "delete"}) %></p> -->

<div class="w3-modal-content w3-margin-top" style="max-width:600px">
  <div class="w3-white w3-margin">
    <div class="w3-container w3-white w3-margin-top">
      <div class="w3-center">
        <h3>Welcome <%= @user.name %>! Edit this Creation!</h3>
      </div>
      <div>
        <%= image_tag(@creation.image.variant(combine_options: { resize: "1200x1200>", background: "grey", gravity: "center"}), class: "w3-image w3-center")%>
        <%= form_for(@creation, url: user_creation_path(@user, @creation), html: {method: "patch"}) do |f| %>
        <br>
        <%= f.label("Replace Image:") %>
        <br>
        <%= f.file_field(:image, class: "w3-block w3-margin") %>
        <br>
        <%= f.label("Title of your Work:") %>
        <br>
        <%= f.text_field(:title, class: "w3-input w3-border", placeholder: "Title of your Work") %>
        <br>
        <%= f.label("Category:") %>
        <br>
        <%= f.collection_select(:category_id, Category.all, :id, :name) %>
        <br>
        <br>
        <%= f.label("Description about it:") %>
        <br>
        <%= f.text_area(:description, class: "w3-input w3-border", placeholder: "Write about your creation", rows: "20" ) %>
        <br>
        <%= f.submit("Update", class: "w3-button w3-block w3-blue") %>
        <%end %>
        </div>
      </div>
    </div>
  <hr>
