<h1>Hello <%= @user.name %>, make edits to <%= @creation.title %> !</h1>

<%= form_for(@creation, url: user_creation_path(@user, @creation), html: {method: "patch"}) do |f| %>
<br>
<%= image_tag(@creation.image, size: "400x400") %>
<br>
<%= f.label("Replace image") %>
<br>
<%= f.file_field :image %>
<br>
<%= f.label :title %>
<br>
<%= f.text_field :title %>
<br>
<%= f.label :description %>
<br>
<%= f.text_area :description %>
<br>
<%= f.label(:category) %>
<%= f.collection_select(:category_id, Category.all, :id, :name) %>
<br>
<%= f.submit %>
<%end %>

<p><%= button_to('Delete Creation!', user_creation_path(@creation.user, @creation), {method: "delete"}) %></p>
