<h1><%= @creation.title %> </h1>

<p><%= image_tag(@creation.image.variant(combine_options: { resize: "400x400>", extent: "400x400", background: "grey", gravity: "center"})) %></p>

<p>Description</p>
<p><%= @creation.description %></p>

<p>Category:</p>
<p><%= @creation.category.name %></p>

<p>by: <%=link_to(@creation.user.name, user_path(@creation.user))%></p>
<p><%= image_tag(@creation.user_profile.image.variant(combine_options: { resize: "40x40>", extent: "40x40", background: "grey", gravity: "center"}))%></p>

<h3>Comments</h3>
<% @comments.each do |comment| %>
  <div>
    <strong><%= comment.user.name %></strong>
    <br>
    <p><%= comment.body %></p>
    <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>


<%= form_for(@comment, url: user_creations_path, html: {method: "post"}) do |f| %>
<%= f.label("comment:") %><br>
<%= f.text_area :content %>
<% end %>


<p><%= button_to('Edit Creation!', edit_user_creation_path(@creation.user, @creation), {method: "get"}) unless @user != @creation.user %></p>
