<h1><%= @creation.title %> </h1>

<p><%= image_tag(@creation.image, size: "400x400") %></p>

<p>Description</p>
<p><%= @creation.description %></p>

<p>Category:</p>
<p><%= @creation.category.name %></p>

<p>by: <%=link_to(@creation.user.name, user_path(@creation.user))%></p>
<p><%= image_tag(@creation.user_profile.image, size: "40x40")%></p>


<p><%= button_to('Edit Creation!', edit_user_creation_path(@creation.user, @creation), {method: "get"}) unless @user != @creation.user %></p>
