<h1>Profile page for <%= @user.name %> </h1>

<p><%= image_tag(@profile.image, size: "400x400") %></p>

<p><%= @profile.header %></p>

<p><%= @profile.bio %></p>

<p><%= button_to('Update Profile', edit_user_profile_path(@user, @profile), {method: "get"})%></p>
