<!DOCTYPE html>
<html>
  <head>
    <title>CreatiVault</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
    body {font-family: "Open Sans"}
</style>

  </head>

  <body class="w3-light-grey">
    <div class="w3-bar w3-black w3-hide-small">
      <% if user_currently_logged_in %>
        <%= button_to('My Profile', user_path(user_currently_logged_in), {method: "get", class: "w3-blue w3-bar-item w3-button"})%>
        <%= button_to('Create Something', new_user_creation_path(user_currently_logged_in), {method: "get", class: "w3-bar-item w3-button"})%>
        <%= button_to('See All Creations', creations_path, {method: "get", class: "w3-bar-item w3-button"})%>
        <%= button_to('Your Creations', user_creations_path(user_currently_logged_in), {method: "get", class: "w3-bar-item w3-button"})%>
        <%= button_to('Visit Other Creators', users_path, {method: "get", class: "w3-bar-item w3-button"})%>
        <%= button_to('Log Out', destroy_session_path, {method: "post", class: "w3-bar-item w3-button w3-right w3-red"})%>
      <% else %>
        <h1 class="w3-center">Welcome to CreatiVault</h1>
      <% end %>
    </div>

      <%= yield %>

  </body>
</html>
